.PhotoDetailsHeader {
    color: rgba(17, 24, 39, 1);
}

.ShareButton {
    background-color: transparent;
    border: none;
    padding: 0px;
    font: inherit;
    color: inherit;
    cursor: pointer;
}