.NavbarNav {
    background-color: var(--wed-white);
    border-color: rgba(229, 231, 235, 1);
    position: relative;
}

.NavBarInput {
    color: rgba(17, 24, 39, 1);
    background-color: rgba(249, 250, 251, 1);
    border-color: rgba(209, 213, 219, 1);
}

.NavbarLanguage {
    background-color: transparent;
    color: rgba(75, 85, 99, 1);

    &:hover {
        color: rgba(107, 114, 128, 1);
    }

    .NavbarLanguageText {
        background-color: var(--wed-black);
        color: var(--wed-white);
        padding-bottom: 5px;
        padding-right: 4px;
        padding-left: 4px;
    }
}

.SearchBar {
    position: relative;

    .searchBarIcon {
        color: rgba(107, 114, 128, 1);
    }

    .searchBarInput {
        color: rgba(17, 24, 39, 1);
        background-color: rgba(249, 250, 251, 1);
        border-color: rgba(209, 213, 219, 1);
    }
}

.NavbarColapseMenu {
    color: rgba(107, 114, 128, 1);
}

.NAvBarMenu {
    margin-left: auto;
    margin-right: auto;

    .NavBarMenuButton:hover {
        font-weight: 600;
    }

    .NavBarMenuDrop {
        box-shadow: var(--tw-ring-offset-shadow,0 0 transparent),var(--tw-ring-shadow,0 0 transparent),var(--tw-shadow);
        color: rgba(55, 65, 81, 1);
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
        border-radius: 10px;
        background: #fff;
        margin-top: 17px;
        margin-left: -104px;

        .NavBarMenuDropText {
            cursor: pointer;

            &:hover {
                color: #54989b !important;
            }
        }
    }
}