.NavbarNav {
    background-color: var(--wed-white);
    border-color: rgba(229, 231, 235, 1);
    position: relative;
}

.NavBarInput {
    color: rgba(17, 24, 39, 1);
    background-color: rgba(249, 250, 251, 1);
    border-color: rgba(209, 213, 219, 1);
}