
// Paddings

.pt-4 {
    padding-top: 1rem !important;
}

.pt-0 {
    padding-top: 0rem !important;
}

.pb-5 {
    padding-bottom: 1.25rem !important;
}

.pb-8 {
    padding-bottom: 2rem !important;
}

.py-2\.5 {
    padding-top: 0.625rem !important;
    padding-bottom: 0.625rem !important;
}

.pl-10 {
    padding-left: 2.5rem !important;
}

.pl-3 {
    padding-left: 0.75rem !important;
}

.px-auto {
    padding-left: auto !important;
    padding-right: auto !important;
}

.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.p-5 {
    padding: 1.25rem !important;
}

.p-2 {
    padding: 0.5rem !important;
}

// Margins

.mt-5 {
    margin-top: 1.25rem !important;
}

.mt-3 {
    margin-top: 0.75rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mb-6 {
    margin-bottom: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.ml-1 {
    margin-left: 0.25rem !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

// Borders

.border {
    border-width: 1px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.rounded {
    border-radius: 0.25rem !important;
}

// display

.block {
    display: block !important;
}

.w-full {
    width: 100% !important;
}

.flex {
    display: flex !important;
}

.justify-center {
    justify-content: center !important;
}

.gap-2 {
    gap: 0.5rem !important;
}

.flex-1 {
    flex: 1 1 0% !important;
}

.max-h-10 {
    max-height: 2.5rem !important;
}

.w-auto {
    width: auto !important;
}

.w-11\/12 {
    width: 91.666667%;
}

.h-auto {
    height: auto !important;
}

.h-6 {
    height: 1.5rem !important;
}

.sticky {
    position: sticky !important;
}

.top-0 {
    top: 0 !important;
}

.left-0 {
    left: 0 !important;
}

.right-0 {
    right: 0 !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.items-center {
    align-items: center !important;
}

.self-center {
    align-self: center !important;
}

.whitespace-nowrap {
    white-space: nowrap !important;
}

.hidden {
    display: none !important;
}

.absolute {
    position: absolute !important;
}

.inset-y-0 {
    top: 0;
    bottom: 0;
}

.pointer-events-none {
    pointer-events: none;
}