
// Paddings

.pt-4 {
    padding-top: 1rem !important;
}

.pt-0 {
    padding-top: 0rem !important;
}

.pb-5 {
    padding-bottom: 1.25rem !important;
}

.px-auto {
    padding-left: auto !important;
    padding-right: auto !important;
}

.px-4 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.px-2 {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.p-5 {
    padding: 1.25rem !important;
}

// Margins

.mt-5 {
    margin-top: 1.25rem !important;
}

.mt-3 {
    margin-top: 0.75rem !important;
}

.mt-2 {
    margin-top: 0.5rem !important;
}

.mb-6 {
    margin-bottom: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.ml-0 {
    margin-left: 0 !important;
}

.mx-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

// Borders


// display

.block {
    display: block !important;
}

.w-full {
    width: 100% !important;
}

.flex {
    display: flex !important;
}

.justify-center {
    justify-content: center !important;
}

.gap-2 {
    gap: 0.5rem !important;
}

.flex-1 {
    flex: 1 1 0% !important;
}

.max-h-10 {
    max-height: 2.5rem !important;
}

.w-auto {
    width: auto !important;
}

.h-auto {
    height: auto !important;
}