:root {

    // Colors Plate
    --wed-primary: #024D4C;
    --wed-secondary: #DF8A40;
    --wed-gray: #F6F6F6;
    --wed-white: #FFFFFF;
    --wed-black: #000000;
    --wed-text-gray: rgba(156,163,175,1);

}