:root {

    // Colors Plate
    --wed-primary: #024D4C;
    --wed-secondary: #DF8A40;
    --wed-gray: #F6F6F6;
    --wed-white: #FFFFFF;
    --wed-black: #000000;
    --wed-text-gray: rgba(156,163,175,1);

    // Shadow
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 1px 3px 0 rgba(0,0,0,0.1),0 1px 2px 0 rgba(0,0,0,0.06);
}