.container {
    width: 100% !important;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px !important;
    }

    .sm\:px-8 {
        padding-left: 2rem !important;
        padding-right: 2rem !important;
    }

    .sm\:mb-2 {
        margin-bottom: 0.5rem !important;
    }

    .sm\:mb-0 {
        margin-bottom: 0 !important;
    }

    .sm\:bottom-0 {
        bottom: 0 !important;
    }

    .sm\:right-0 {
        right: 0 !important;
    }

    .sm\:absolute {
        position: absolute !important;
    }
    
    .md\:mr-16 {
        margin-right: 4rem !important;
    }

    .sm\:justify-end {
        justify-content: flex-end !important;
    }
    
    .sm\:px-4 {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .sm\:flex {
        display: flex !important;
    }

    .sm\:text-sm {
        font-size: .875rem !important;
        line-height: 1.25rem !important;
    }

    .md\:font-medium {
        font-weight: 500 !important;
    }

    .md\:text-sm {
        font-size: .875rem !important;
        line-height: 1.25rem !important;
    }

    .md\:mt-2 {
        margin-top: 0.5rem !important;
    }
    
    .md\:flex-row {
        flex-direction: row !important;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px !important;
    }

    .md\:flex {
        display: flex !important;
    }

    .md\:w-1\/3 {
        width: 30% !important;
    }

    .md\:w-2\/3 {
        width: 66.666667% !important;
    }

    .md\:ml-20 {
        margin-left: 5rem !important;
    }

    .md\:mt-0 {
        margin-top: 0 !important;
    }

    .md\:mt-5 {
        margin-top: 1.25rem !important;
    }
    
    .md\:order-3 {
        order: 3 !important;
    }

    .md\:order-2 {
        order: 2 !important;
    }

    .md\:mr-0 {
        margin-right: 0 !important;
    }

    .md\:hidden {
        display: none !important;
    }

    .md\:w-auto {
        width: auto !important;
    }

    .md\:order-1 {
        order: 1 !important;
    }
    
    .md\:my-4 {
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
    }
    
    .md\:h-36 {
        height: 9rem !important;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px !important;
    }
    
    .lg\:text-4xl {
        font-size: 2.25rem !important;
        line-height: 2.5rem !important;
    }
    
    .lg\:px-20 {
        padding-left: 5rem !important;
        padding-right: 5rem !important;
    }
    
    .lg\:w-11\/12 {
        width: 91.666667% !important;
    }

    .lg\:hidden {
        display: none;
    }

    .lg\:block {
        display: block !important;
    }
    
    .lg\:h-36 {
        height: 9rem !important;
    }
    
    .lg\:w-9\/12 {
        width: 75% !important;
    }

    .lg\:mx-auto {
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
    .lg\:pl-0 {
        padding-left: 0 !important;
    }
    
    .lg\:flex-row {
        flex-direction: row !important;
    }
    
    .lg\:flex {
        display: flex !important;
    }
    
    .lg\:w-3\/12 {
        width: 25% !important;
    }

    .lg\:flex-col {
        flex-direction: column !important;
    }
    
    .lg\:mt-5 {
        margin-top: 1.25rem;
    }
    
    .lg\:m-2 {
        margin: 0.5rem;
    }

    .lg\:w-8\/12 {
        width: 66.666667% !important;
    }

    .lg\:h-60 {
        height: 15rem !important;
    }

    .lg\:w-3\/4 {
        width: 75% !important;
    }
    
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px !important;
    }

    .xl\:h-16 {
        height: 4rem !important;
    }
}